/* App.tsx file */
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.UserProfileRoute {
  /* position: fixed;
  top: 5%; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content:space-evenly;
  margin-top: 30px;
  /* align-items:flex-end; */
}

.UserProfile__button>button {
  background-color: #8A2387;
  color: white;
  width: 90px;
  height: 35px;
  margin: 10px;
  padding: 2px;
  border-radius: 10px;
}

/* Design System Standards */
a:link {
  text-decoration: none;
}

h2 {
  margin: 0px;
  color: #F27121;
  font-size: 80px;
}

h3 {
  font-weight: lighter;
  font-size: 28px;
}

h4 {
  margin: 40px 0px 0px 0px;
  font-size: 1em;
}

button {
  font-family: 'Montserrat';
  font-weight: bold;
  border-radius: 15px;
  color: white;
  border: none;
  padding: 15px;
  margin: 0px 20px 0px 0px;
}

input[type="text"] {
  border: 1px solid lightslategray;
  border-radius: 5px;
  height: 25px;
}

.textLink {
  margin: 16px 0px 16px 16px;
  color: #8A2387;
  font-weight: bold;
  text-decoration: none;
}

.buttons {
  color: white;
  text-decoration: none;
}

input[type=submit]{
  background-color: #8A2387;
  font-family: Montserrat;
  border-style: none;
  color: white;
  font-weight: bold;
}

#orangebtn {
  background-color: #F27121;
  width: 220px;
  height: 55px;
  margin-bottom: 16px;
}

#purplebtn {
  background-color: #8A2387;
  width: 220px;
  height: 55px;
}

/* Heidi CSS */

#acclaim {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: .8em;
  width: 100%;
  padding: 4px;
  bottom: 0px;
  margin: 0px auto;
}

#cat {
  /* display: block; */
  box-sizing: border-box;
  /* position: absolute; */
  bottom: 0px;
}

#dog {
  /* display: block; */
  box-sizing: border-box;
  /* position: absolute; */
  bottom: 14px;
}

/* Tablet view */
  @media (max-width: 1024px) and (min-width: 641px) {
    h2 {
      margin: 0;
      color: #F27121;
      font-size: 48px;
    }

    h3 {
      font-weight: lighter;
      font-size: 22px;
    }

    #acclaim {
      font-size: .6em;
    }

    #cat {
      /* position: absolute; */
      bottom: 0px;
    }
    
    #dog {
      /* position: absolute; */
      bottom: 12px;
    }
  }

  /* Mobile view */
@media (max-width: 640px) and (min-width: 360px) {
  .UserProfileRoute {
    /* display: flex;
    flex-direction: column; */
    flex-wrap: wrap;
    /* align-items: center; */
    /* overflow-y: auto; */
    /* overflow-y: scroll;
    overflow-x: hidden; */
    /* top: 0;
    bottom: 0;  */
  }

  /* .UserProfileRoute>h2 {
    text-align: center;
    font-size: 1.6em;
    margin-top: 15px;
  } */

  h2 {
    margin: 0;
    color: #F27121;
    font-size: 36px;
  }

  .UserProfileRoute>button {
    background-color: #8A2387;
    color: white;
    width: 90px;
    height: 35px;
    margin: 10px;
    padding: 2px;
    border-radius: 10px;
  }

  /* Formatting for the Avatar author recognition at the bottom of the page */
  #cat {
    /* position: absolute; */
    bottom: 0px;
  }

  #dog {
    /* position: absolute; */
    bottom: 12px;
  }

  #acclaim {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: .5em;
    width: 100%;
    padding: 4px;
    bottom: 0px;
    margin: 0px auto;
  }

}