.CreateYourUserProfileInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8px 8px 12px 0px;
}

 /* Tablet view */
 @media (max-width: 1024px) and (min-width: 641px) {
    .CreateYourUserProfileInput {
        width: 550px;
    }
}

 /* Mobile view */
@media (max-width: 640px) and (min-width: 320px){
   .CreateYourUserProfileInput {
       width: 100%;
   }
}