nav {
    width: 100vw;
  }
  
  .NavBar {
    padding: 10px 40px 40px 40px;
    display: flex;
    flex-direction: column;
  }

  .NavPP {
    color: #F27121;
    justify-content: left;
  }
  
  .NavBarLinks {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: -40px;
  }
  
  .navSignUp {
    background-color: #8A2387;
    color: white;
  }
  
#NavPets, #NavProfile{
    font-weight: bold;
    margin: 20px 20px;
    text-decoration: none;
    color: black;
  }

#NavPets :hover {
  color: #8A2387;
}

