body {
  width: 100%;
  height: 90vh;
}

.Homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .HeroContent {
    margin: 100px 20px;
    max-width: 500px;
    min-width: 300px;
  }

  .HomeImg {
    max-width: 50%;
    min-width: 30%;
    margin: 0px 0px 0px -100px;
  }

  #DesktopImg {
    max-height: 80vh;
  }

  #MobileImg {
    display: none;
  }

  .homebtns {
    justify-content: space-around;
  }

  .signin {
    display: flex;
  }

  /* Tablet view */
  @media (max-width: 1024px) and (min-width: 641px) {
    h2 {
      margin: 0px;
      color: #F27121;
      font-size: 48px;
    }

    h3 {
      font-weight: lighter;
      font-size: 22px;
    }
    
    .Homepage {
      display: flex;
      flex-direction: column-reverse;
      align-content: center;
    }

    .HeroContent {
      margin: 10px 20px;
      max-width: 500px;
      min-width: 300px;
      text-align: center;
    }

    .signin {
      text-align: center;
    }

    .HomeImg {
      display: flex;
      margin: auto;
    }

    #MobileImg {
      display: block;
      height: 50vh;
    }
  
    #DesktopImg {
      display: none;
    }

  }

  /* Mobile view */
@media (max-width: 640px) and (min-width: 360px) {
  .Homepage {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
  }

  .HeroContent {
    margin: 10px 20px;
    justify-content: center;
    text-align: center;
  }

  h2 {
    margin: 0px;
    color: #F27121;
    font-size: 32px;
  }

  h3 {
    font-weight: lighter;
    font-size: 18px;
  }

  .HomeImg {
    max-width: 90%;
    margin: auto;
    justify-content: center;
  }

  #MobileImg {
    display: block;
    height: 50vh;
  }

  #DesktopImg {
    display: none;
  }
 
  #orangebtn, #purplebtn {
    width: 70vw;
    font-size: 16px;
    margin: 10px 0px;
  }
}