.Preferences__body {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    top: 5%;
    left: 50%;
    justify-content: right; */
    /* width: 400px; */
}

.Preferences {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

.Preferences__header {
    text-align: center;
    justify-content: center;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; */
}

.Preferences__title {
    font-size: 2em;
}

.Preferences__matches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60%;
    /* margin-left: 100px; */
    /* position: relative; */
    border: 10px solid #8A2387;
    box-shadow: 0px 5px 5px #5f5f5f, 5px 5px 10px #5f5f5f;
    border-radius: 8px;
    background-color: #8A2387;
    /* top: 2%;
    left: 20%; */
    justify-content:space-between;
    font-size: 1em;
}

.Preferences__matches>p {
    margin: 10px;
    padding: 3px;
    border: 1px solid #8A2387;
    background-color: white;
    border-radius: 8px;
}

@media (max-width: 1024px) and (min-width: 641px) {
    /* Tablet view */

}

@media (max-width: 640px) and (min-width: 360px) {
    /* Mobile view */

    .Preferences {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: unset;
        /* align-items: center; */
    }

    .Preferences__body {
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */
        /* align-content: center; */
        align-items: center;
        position:unset;
        /* top: 75%; */
        /* left: 0; */
        /* min-width: 500px; */
        /* overflow-y: scroll;
        overflow-x: hidden; */
        /* top: 10;
        bottom: 0;  */
    }

    .Preferences__matches {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 430px;
        /* max-width: 70%; */
        /* left: 4%; */
        /* justify-content: center; */
        font-size: .8em;
        margin: 0px;
    }

    .Preferences__matches>p {
        margin: 2px;
        padding: 1px;
    }

    .Preferences__header {
        font-size: .8em;
        text-align: center;
    }

    .Preferences__title {
        text-align: center;
        /* left: 4%; */
    }

    .Preferences__desc {
        /* width:100%; */
        font-size: .9em;
        max-width: 70%;
        text-align: center;
        margin-left: 20px;
        /* left: 4%; */
    }
    
}