@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
  }

/* body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
} */

.UserProfile {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    width: 400px;
    /* align-items: left; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.UserProfile__header {
    text-align: center;
    margin-bottom: 110px;
}

.UserProfile__header>h2 {
    font-size: 2em;
    width: 90%;
    /* text-align: left; */
  }

.Profile {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    width: 300px;
    /* align-items: center; */
    margin: 0px 50px;
    padding: 10px;
    border:1px solid #8A2387;
    box-shadow: 0px 5px 5px #5f5f5f, 5px 5px 10px #5f5f5f;
    border-radius: 8px;
}

.Profile>p {
    border: 1px solid lightslategray;
    border-radius: 5px;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 0px;
    width: 90%;
    height: 25px;
}

.UserList__image {
    max-width: 100px;
    position: absolute;
    top: 75px;
    left: 70px;
}

.Profile>p>label {
    font-size: .7em;
    background-color: white;
}

.Profile>p>.first {
    position: absolute;
    top: 192px;
    left: 80px;
}

.Profile>p>.last {
    position:absolute;
    top:239px;
    left: 80px;
}

.Profile>p>.email {
    position: absolute;
    top: 289px;
    left: 80px;
}

.Profile>p>.phone {
    position:absolute;
    top: 337px;
    left: 80px;
}

.Profile>p>.password {
    position:absolute;
    top: 386px;
    left: 80px;
}

.UserList__password {
    font-family: 'password';
    width: 100px;
    height: 16px;
}

.Profile>p>.zip {
    position: absolute;
    top: 434px;
    left: 80px;
}

.Profile>p>.aboutMe {
    position: absolute;
    top: 482px;
    left: 80px;
}

.about {
    height: 50px;
}

.Profile>p>.prefrences {
    position: absolute;
    top: 532px;
    left: 80px;
}


@media (max-width: 1024px) and (min-width: 641px) {
    /* Tablet view */

}

@media (max-width: 640px) and (min-width: 360px) {
    /* Mobile view */
    
    .UserProfile {
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center; */
        margin-bottom: 25px;
    }
    .Profile {
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */
        width: 270px;
        /* align-items: center; */
        margin: 30px;
    }

    .UserList__image {
        max-width: 100px;
        position: absolute;
        top: 55px;
        left: 60px;
    }
    
    .Profile>p>label {
        font-size: .6em;
        background-color: white;
    }
    
    .Profile>p>.first {
        position: absolute;
        top: 178px;
        left: 60px;
    }
    
    .Profile>p>.last {
        position:absolute;
        top:217px;
        left: 60px;
    }
    
    .Profile>p>.email {
        position: absolute;
        top: 256px;
        left: 60px;
    }
    
    .Profile>p>.phone {
        position:absolute;
        top: 295px;
        left: 60px;
    }
    
    .Profile>p>.password {
        position:absolute;
        top: 334px;
        left: 60px;
    }
    
    .Profile>p>.zip {
        position: absolute;
        top: 372px;
        left: 60px;
    }
    
    .Profile>p>.aboutMe {
        position: absolute;
        top: 412px;
        left: 60px;
    }
    
    .about {
        height: 50px;
    }
    
    .Profile>p>.prefrences {
        position: absolute;
        top: 450px;
        left: 60px;
    }
}